div.app {
  padding: 12px;

  & > header.form-inline > div.form-group {
    margin: 0 !important;

    & > .form-control {
      margin-right: 8px;
      display: inline-block;
      vertical-align: middle;

      &.mode {
        width: 90px;
      }
      &.layout {
        width: 140px;
      }
    }
  }

  button.link-btn {
    border: none!important;
    background: none!important;
    box-shadow: none!important;
    outline: none!important;
    vertical-align: middle;
  }
}